
*.png
*.jpg
*.gif
*.mp4
__pycache__/
wandb/
env/
log/
*.pt
*.pth
*.pkl
*.ckpt
*.csv
temp.py
*.zip
*.npz
*.yml
*.sdf
*/examples
*.obj
*/racecar_gym
*/models
tensorboard_logs/
store/
racecar*
tests/
docs/